/* Basic layout */
html {
  overflow-x: hidden;
}
header, footer {
  text-align: center;
  background-color: #E9ECEF;
}
main {
  margin: 30px 0;
}
.img-fluid {
  border-radius: .25rem;
}
@media (min-width: 576px) {
  footer {
    padding: 4rem 2rem;
  }
}

/* Prev & Next icons */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
 
/* Make the image fully responsive (carrousel) */
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-item {
  background-color: #F4F7F9;
}

.modal-header {
  border-bottom: 1px solid #2D2E32;
}
.modal-footer {
  border-top: 1px solid #2D2E32;
}
h2, h3, h4, h5 {
  font-weight: 300;
}

/* navbar */
.custom-navbar-wrapper {
  z-index: 100;
}
@media (min-width: 800px) {
  .custom-navbar-wrapper {
    text-align: center;
  }
  .custom-navbar {
    display: inline-flex;
  }
}

/* Display images*/
.display-big-img {
  width: 100%;
  border-radius: .25rem;
}
.card[data-model] {
  cursor: pointer;
}
.card {
  border: 0 !important;
}
.card-title {
  margin-bottom: 25px;
}

.img-centered{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal {
  display: none; /* Hidden by default */
  z-index: 200; /* Sit on top of navbar*/
  padding-top: 100px; /* Location of the box */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9) /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer
}