<div class="gallery-btns">
  <button class="gallery-btn" onclick="window.location.href='{{ site.baseurl }}/galerie/deco'">
    <img src="{{ site.baseurl }}/image/galerie/déco/small/vie.jpg">
    <h3>Déco</h3>
  </button>

  <button class="gallery-btn" onclick="window.location.href='{{ site.baseurl }}/galerie/famille'">
    <img src="{{ site.baseurl }}/image/galerie/famille/small/la famille.png">
    <h3>Famille</h3>
  </button>

  <button class="gallery-btn" onclick="window.location.href='{{ site.baseurl }}/galerie/silhouette'">
    <img src="{{ site.baseurl }}/image/galerie/silhouettes/small/éclatante.jpg">
    <h3>Silhouette</h3>
  </button>
</div>