<!--
  you need to specify "galleryPath" when including!
-->

<style>
  :root {
    --max-width: 2000px;
  }
</style>

<div id="ShowFullscreen" class="modal" onclick="HideFullScreen()">
  <div class="modal-content"><img id="SF-Img"></div>
</div>

<div class="paintings">
  {%- assign found = false -%}

  {%- for image in site.static_files -%}
    {%- if image.path contains include.galleryPath -%}
      {%- assign imageName = image.basename | split: " - " -%}
      {%- assign found = true -%}

        {%- if image.path contains "small" -%}
        <button class="painting" onclick="ShowFullscreen(`{{ site.baseurl }}`+`{{ image.path | replace_first: 'small', 'big' }}`)">
          <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.basename }}">
          <div class="painting-body">
            <h3>{{ imageName[0] }}</h3>
            {%- if imageName[1] == "vendue" -%}
            <p>Vendue</p>
            {%- else -%}
            <p>{{ imageName[1] }} - {{ imageName[2] }}</p>
            {%- endif -%}
          </div>
        </button>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if found == false -%}
    <p>Aucun tableau n'a encore été ajouté!</p>
  {%- endif -%}
</div>

<script type="text/javascript" src="{{ site.baseurl }}/js/ShowFullscreen.js"></script>