<div class="gallery-btns">
  <button class="gallery-btn" onclick="window.location.href='{{ site.baseurl }}/galerie/ailleurs'">
    <img src="{{ site.baseurl }}/image/home/ailleurs.png" alt="Catégorie 1">
    <h3>Ailleurs</h3>
  </button>

  <button class="gallery-btn" onclick="window.location.href='{{ site.baseurl }}/galerie/deco'">
    <img src="{{ site.baseurl }}/image/home/deco.png" alt="Catégorie 1">
    <h3>Déco</h3>
  </button>

  <button class="gallery-btn" onclick="window.location.href='{{ site.baseurl }}/galerie/famille'">
    <img src="{{ site.baseurl }}/image/home/famille.png" alt="Catégorie 1">
    <h3>Famille</h3>
  </button>

  <button class="gallery-btn" onclick="window.location.href='{{ site.baseurl }}/galerie/silhouette'">
    <img src="{{ site.baseurl }}/image/home/silhouette.png" alt="Catégorie 1">
    <h3>Silhouette</h3>
  </button>
</div>