<!--
  you need to specify "galleryPath" when including!
-->

<style>
  :root {
    --max-width: 2000px;
  }
</style>

<div id="ShowFullscreen" class="modal" onclick="HideFullScreen()">
  <div class="modal-content"><img id="SF-Img"></div>
</div>

<div class="paintings">
  {%- assign found = false -%}

  {%- for image in site.static_files -%}
    {%- if image.path contains include.galleryPath -%}
      {%- assign found = true -%}

        {%- assign name = image.basename | split: "-" | last -%}
        {%- if image.path contains "small" -%}
        <button class="gallery-btn" onclick="ShowFullscreen(`{{ site.baseurl }}`+`{{ image.path | replace_first: 'small', 'big' }}`)">
          <img loading="lazy" src="{{ site.baseurl }}{{ image.path }}" alt="{{ name }}">
          <h3>{{ name }}</h3>
        </button>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if found == false -%}
    <p>Aucun tableau n'a encore été ajouté!</p>
  {%- endif -%}
</div>

{%- if found == true -%}
  <p align="center" class="painting-advice">
    Pour tout renseignement et volonté d'achat,<br>prenez contact avec moi par mail <a href="mailto:valeriehaehnel7055@gmail.com">valeriehaehnel7055@gmail.com</a>!
  </p>
{%- endif -%}

<script type="text/javascript" src="{{ site.baseurl }}/js/ShowFullscreen.js"></script>