---
layout: compress
---

<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Valerie Haehnel - {{ page.title }}</title>
    <meta name="description" content="Découvrez mes tableaux!" />
    <meta name="keywords" content="Art, Tableaux, Peintures, Valerie Haehnel">
    <meta name="theme-color" content="#03acc4">

    <link rel="icon" href="{{ site.baseurl }}/favicon.png">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.png" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon.png"/>
    <meta property="og:image" content="{{ site.baseurl }}/favicon.png" />
    <meta property="twitter:image" content="{{ site.baseurl }}/favicon.png"/>
    <meta name="twitter:card" content="summary_large_image">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/index.css"><!-- Font is awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  </head>

  <body>
    {%- if page.title -%}
    <header>
      <h1 align="center">{{ page.title }}</h1>
      <p>{{ page.description }}</p> 
    </header>
    {%- endif -%}

    <nav>
      <ul id="collapsibleNavbar">
        <li><a href="{{ site.baseurl }}/">Acceuil</a></li>
        <li><a href="{{ site.baseurl }}/galerie">Galerie</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li> 
      </ul>
    </nav>

    <main class="container" style="margin-top: 30px">
      {{ content }}
    </main>

    <footer>
      <div>
        <div>
          <h3>Me contacter:</h3>
          {%- include contact.html -%}
        </div>
    
        <div>
          <h3>Signaler un bug:</h3>
          <h4>Via GitHub:</h4>
          <p class="card-text">
            <i style="margin-right: 5px;" class="fab fa-github"></i><a
              href="https://github.com/Juknum/Haehnel/issues">GitHub</a>
          </p>
    
          <h4>Par mail:</h4>
          <p class="card-text">
            <i style="margin-right: 5px;" class="far fa-envelope"></i><a
              href="mailto:julienconstant190@gmail.com">julienconstant190@gmail.com</a>
          </p>
        </div>
    
      </div>
    </footer>
  </body>
</html>
